<navbar>
</navbar>
<div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content white-text">
          <div class="row">
            <div class="col s5">
              <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="selectedEmployee._id">
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="name" #name="ngModel" [(ngModel)]="selectedEmployee.name" placeholder="Enter full name" required>
                    <label>Name :
                      <label class="red-text">*</label>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="salary" #name="ngModel" [(ngModel)]="selectedEmployee.salary" placeholder="Salary per annum">
                    <label>Salary :
                      <label class="red-text">*</label>
                    </label>
                  </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                      <input type="text" name="deduction" #name="ngModel" [(ngModel)]="selectedEmployee.deduction" placeholder="Tax per annum">
                      <label>Tax Rate :
                        <label class="red-text">*</label>
                      </label>
                    </div>
                  </div>
                <div class="row">
                  <div class="input-field col s12">
                    <button class="btn btn-custom right" type="button" (click)="resetForm(employeeForm)">Reset</button>
                    <button class="btn btn-custom right" type="submit" [disabled]="!employeeForm.valid">Submit</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col s7">
                <table class="responsive-table" >
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Salary</th>
                        <th>Tax</th>
                        <th>NetPayment</th>
                        <th></th>
                      </tr>
                    </thead>
                  
                    <tbody>
                      <tr *ngFor="let emp of employees" >
                        <td>{{emp.name}}</td>
                        <td>{{emp.salary}}</td>
                        <td>{{emp.deduction}}</td>
                        <td>{{emp.paycheck}}</td>
                        <td *ngIf="employees.length > 0">
                            <a class="action-btn" (click)="onEdit(emp)">
                              <i class="material-icons">edit</i>
                            </a>
                            <a class="action-btn" (click)="onDelete(emp._id,employeeForm)">
                              <i class="material-icons">delete</i>
                            </a>
                          </td>
                      </tr>
                    </tbody>
                 
                  </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>